@import url("typography.css");
@import url("animations.css");
@import url("scrollbar.css");
@import url("skills.css");
@import url("buttons.css");
@import url("menu.css");
@import url("header-sliders.css");
@import url("statistics.css");
@import url("videos.css");
@import url("feedbacks.css");
@import url("about.css");
@import url("statement.css");
@import url("information.css");
@import url("transform-school.css");
@import url("social-media.css");
/* @import url("contact.css");
@import url("footer.css"); */

.divider {
  width: 100%;
  bottom: -250px;
}

.divider-separator {
  /* Essencial para que o <span> aceite dimensões */
  display: inline-block;

  /* Dimensões do elemento (ajuste conforme necessário) */
  width: 30%;
  height: 25px;

  /* Cor de fundo que aparecerá ENTRE as listras */
  background-color: transparent;

  /* A 'mágica' que cria o padrão de listras diagonais */
  background-image: repeating-linear-gradient(
    45deg,
    #32b3a9,
    #32b3a9 5px,
    transparent 5px,
    transparent 10px
  );
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 18px;
  --swiper-navigation-color: #ffffff;
  --swiper-navigation-width: 2px;
  --swiper-navigation-sides-offset: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 0px;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper {
  --swiper-navigation-prev-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H5M12 19l-7-7 7-7"/></svg>');
  --swiper-navigation-next-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14M12 5l7 7-7 7"/></svg>');
}

/* ---------------
   Header
----------------*/
.header {
  position: relative;
  height: calc(fit-content + 3rem);
  background-color: transparent;
  --background-overlay: "";
  background-image: linear-gradient(180deg, #13203500 65%, #021a33 100%),
    url("../assets/backgrounds/bg-header.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.divider {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100px;
  height: 100px;
  background: url("../assets/dividers/divider-01.png") no-repeat center bottom;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 2;
}

@media (max-width: 600px) {
  .site-header {
    min-height: 200px;
  }
  .divider {
    height: 80px;
    background-size: 100% 100%;
  }
}

.container-header-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  padding-right: 0;
}

.header-title > h2 {
  font-family: "Bai Jamjuree", Sans-serif;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1em;
  color: #ffffff;
  margin-bottom: 0;
}

.header-description {
  font-family: "Sora", Sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 1.2em;
  color: #ffffff;
}

.header-description > p {
  margin-bottom: 0;
}

.header-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 56px;
  padding: 15px;
  width: fit-content;
  margin: 0 auto;
}

.header-button-container > .subscribe {
  width: fit-content;
  white-space: nowrap;
  text-align: center;
  font-family: "Bai Jamjuree", Sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.2em;
  color: #ffffff;
  cursor: pointer;
}

.header-caption {
  font-family: "Sora", Sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #ffffff;
}

/* ---------------
   Fim do Header
----------------*/

/* ---------------
   breakpoints
----------------*/
/* sm and up */
@media (min-width: 576px) {
  .header-title > h2 {
    font-size: 38px;
  }
}

/* md and up */
@media (min-width: 768px) {
  .container-header-content {
    padding-left: 20px;
    padding-right: 50px;
  }

  .header-description {
    font-size: 24px;
  }
}

/* lg and up */
@media (min-width: 992px) {
}

/* xl and up */
@media (min-width: 1200px) {
  .header-slider {
    flex-direction: row;
  }

  .header-title > h2 {
    font-size: 58px;
    text-align: left;
  }

  .header-description,
  .header-caption {
    text-align: left;
  }

  .header-button-container {
    flex-direction: row;
    margin: 0;
  }
}

/* xxl and up */
@media (min-width: 1400px) {
}
