.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.37);
}

.menu > img {
  width: 150px;
  padding-left: 27px;
}

.menu-list {
  display: none;
  list-style: none;
  margin-bottom: 0;
}

.menu-list > li > a {
  text-decoration: none;
  color: #fff;
  padding: 13px 20px;
  transition: all 0.3s ease-in-out;
}

.menu-list > li > a:hover {
  color: #000;
  background-color: #e72f49;
}

/* ---------------
   breakpoints
----------------*/
/* sm and up */
@media (min-width: 576px) {
}

/* md and up */
@media (min-width: 768px) {
}

/* lg and up */
@media (min-width: 992px) {
  .menu {
    justify-content: space-between;
  }
  .menu-list {
    display: flex;
  }
}

/* xl and up */
@media (min-width: 1200px) {
}

/* xxl and up */
@media (min-width: 1400px) {
}
