.background-overlay-transform-school {
  background-color: #e72f49;
  background-image: linear-gradient(180deg, #ffffff00 0%, #e72f49 100%),
    url("../assets/backgrounds/bg-transform-school.jpg");
  background-size: cover;
  height: auto;
  padding-top: 2rem;
}

.robot-img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  object-fit: cover;
}

.trusted-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
}

.trusted-logos img {
  object-fit: contain;
}

.transform-title {
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

.transform-description {
  font-size: 1.1rem;
  color: #fff;
}

.transform-list {
  font-size: 1.15rem;
  font-weight: 600;
  color: #fff;
}

.divider.transform-school {
  margin-top: 2rem;
}

@media (min-width: 900px) {
  .background-overlay-transform-school {
    padding-top: 10rem;
  }

  .robot-img {
    max-width: 540px;
    text-align: center;
  }

  .trusted-logos img {
    height: 32px;
  }

  .transform-title {
    font-size: 33px;
    text-align: left;
  }

  .divider.transform-school {
    margin-top: 10rem;
  }
}
