@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Secular+One&display=swap");

:root {
  --font-family-bai: "Bai Jamjuree";
  --font-size-xxl: 16rem;
}

* {
  font-family: "Bai Jamjuree", "Lora", "Montserrat", "Secular One", sans-serif;
}

.font-xxl {
  font-size: var(--font-size-xxl);
}

.text-gradient-red {
  background-image: linear-gradient(to bottom, #e72f49, #fa556c);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  padding: px;
  -webkit-text-fill-color: #00000000;
}
